/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

/*
Breakpointy
Mobil   0 - 539px
Tablet  540px - 959px (čti jako 540px a víc)
PC      960px a víc
*/

img {
	border-radius: 50%;
}

body {
	text-align: center;
}

.box {
	border: 2px solid lightgray;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	box-shadow: 1px 1px 2px 0 lightblue;
}

@media screen and (min-width:540px) {
	.kontakty {
		display: flex;
		flex-wrap: wrap;
	}

	.box {
		width: calc((100% - 40px) / 2); /*tj. na jeden kontakt vyjde polovina z šířky celku po odečtení všech marginů*/
		display: flex;
		text-align: left;
	}

	.box img {
		flex: 0 0 100px;
		margin-right: 10px;
		height: 100px;
	}
}

@media screen and (min-width:960px) {
	.box {
		width: calc((100% - 80px) / 4); /*tj 2*10px*4 marginů odečteno od 100% šířky děleno 4 boxíky*/
		display: block;
		text-align: center;
	}

	.box img {
		margin-right: 0;
		width: 128px;
		height: 128px;
	}
	

}

